 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-6 col-lg-offset-3">
                    <p>
                        I'm a Computer Engineering Student at the University of Alberta.
                        Currently, I'm looking for Co-op Jobs for winter 2020 and summer 2021, so please
                        don't hesitate to contact me via the form below.
                    </p>
                    <p>
                        Some of my interests include:
                    </p>
                    <ul>
                        <li>Aerial Robotics</li>
                        <li>DevOps</li>
                        <li>Machine Vision</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
